body {
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #88CA5E;
}

header {
    background-color: white;
    padding-bottom: 0;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1%;
    font-size: auto;
}

#form {
    margin-top: 20px;
}

label {
    text-align: center;
    font-size: 1.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-icon {
    max-width: 200px;
    max-height: 150px;
}

.card {
    position: inherit;
    overflow: auto;
    height: auto;
}

#dietInput:hover {
    cursor: pointer;
}

#header {
    position: relative;
}

.sidebar {
    width: 0;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
}

.sidebar.show {
    width: 250px;
}

.sidebar a {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 22px;
    color: #88CA5E;
    display: block;
    transition: color 0.3s;
    
}

.sidebar a:hover {
    color:#88CA5E;
}

#main {
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.openbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #88CA5E;
}

.closebtn {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #88CA5E;
}

.empty-box{
    width: 100%;
    margin-top: 40px;
    padding: 5px;
    background-color: #b4c553;
    color: white; 
}
.side-btn{
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    background-color: #88CA5E;
    color: white; 
    display: block;
}

/* Right sidebar dimensions - Evan. */
.right-sidebar {
    width: 0;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
    
}

.right-sidebar.show {
    width: 40%;
}

#save-btn {
    display: inline;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

#recipe-name{
    display: inline;
    color: white;
    font-size: 30px;
}
.sideP {
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    background-color: #ebb23e;
    color: white; 
    display: block;
}

.favorite-btn, .favorite-first-btn {
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    background-color: #88CA5E;
    color: white; 
}

.favorite-delete-btn::after { content: "\2716"; }

.favorite-delete-btn {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: white;

}

.recipe-card {
    margin-bottom: 20px; /* Adjust as needed */
}

.card-body {
    background-color: aliceblue;
}

.recipe-card:hover {
    cursor: pointer;
}

.ingredient-card:hover {
    cursor: pointer;
}