body {
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #88CA5E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Header and heading elements. Added white background color, aligned text to the center. Used italics for h4 to distinguish sections. */
header {
    background-color: white;
    padding-bottom: 0;
}

h1 {
    text-align: center;
    margin: 1%;
    font-size: auto;
}

h4 {
    font-size: 1.5em;
    font-style: italic;
}

#form {
    margin-top: 20px;
}

label {
    text-align: center;
    font-size: 1.6em;
}

.header-icon {
    max-width: 200px;
    max-height: 150px;
}

.card {
    position: inherit;
    overflow: auto;
    height: auto;
}
/* Hover function to show the user they can pick a diet restriction. */
#dietInput:hover {
    cursor: pointer;
}

#header {
    position: relative;
}
/* elements for the left sidebar text, color, positioning, hover function etc. */
.sidebar {
    width: 0;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
}

.sidebar.show {
    width: 250px;
}

.sidebar a {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 22px;
    color: #88CA5E;
    display: block;
    transition: color 0.3s;
    
}

.sidebar a:hover {
    color:#88CA5E;
}
/* Margin pixel size for main. */
#main {
    margin-left: 250px;
    transition: margin-left 0.5s;
}
/* elements for open and close buttons. */
.openbtn {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 20px;
    color: #88CA5E;
    background-color: white;
    padding: 15px;
}

.closebtn {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #88CA5E;
}

.empty-box{
    width: 100%;
    margin-top: 40px;
    padding: 5px;
    background-color: #b4c553;
    color: white; 
}
.side-btn{
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    background-color: #88CA5E;
    color: white; 
    display: block;
}

/* Right sidebar dimensions - Evan. */
.right-sidebar {
    width: 0;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
    
}

.right-sidebar.show {
    width: 40%;
}

@media screen and (max-width: 600px) {
    .right-sidebar.show {
        width: 100%;
    }
}

#sidebar-img {
    width: 100%;
}
/* save button elements. Displays inline on the right side, next to titles on the right sidebar. */
#save-btn {
    display: inline;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

#recipe-name{
    display: inline;
    color: #88CA5E;
    font-size: 30px;
    padding-left: 5px;
}

.sideP {
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
    background-color: #ebb23e;
    color: white; 
    display: block;
}

.favorite-btn, .favorite-first-btn {
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    background-color: #88CA5E;
    color: white; 
}
/* Delete button for favorites. */
.favorite-delete-btn::after { content: "\2716"; }

.favorite-delete-btn {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: white;

}

/* Recipe, ingredient, and sidebar card margins and colors. Added pointer hover for cursor over the cards.  */
.recipe-card {
    margin-bottom: 20px; /* Adjust as needed */
}


.recipe-card:hover {
    cursor: pointer;
}

.ingredient-card:hover {
    cursor: pointer;
}

.sidebar-card {
    background-color: rgb(94, 184, 94);
}

#recipe-button, #ingredients-button {
    background-color: #ebb23e;
    color: white;
}