body {
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #88CA5E;
}

header {
    background-color: white;
    padding-bottom: 0;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1%;
    font-size: auto;
}

#form {
    margin-top: 20px;
}

label {
    text-align: center;
    font-size: 1.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-icon {
    max-width: 200px;
    max-height: 150px;
}

#dietInput:hover {
    cursor: pointer;
}

#header {
    position: relative;
}

.sidebar {
    width: 0;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
}

.sidebar.show {
    width: 250px;
}

.sidebar a {
    padding: 16px 16px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: orange;
}

#main {
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.openbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
