
body {
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #88CA5E;
}

header {
    background-color: white;
    padding-bottom: 0;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1%;
    font-size: auto;
}

#form {
    margin-top: 20px;
}

label {
    text-align: center;
    font-size: 1.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-icon {
    max-width: 200px;
    max-height: 150px;
}

#dietInput:hover{
    cursor: pointer;
}